

<div class="card-footer text-muted bg-dark w-100">
    <div class="footer-col">
        <h4>Blog</h4>
        <ul>
            <li><a href="#">about us</a></li>
            <li><a href="#">our services</a></li>
            <li><a href="#">privacy policy</a></li>
            <li><a href="#">Branches</a></li>
        </ul>
    </div>
    <div class="footer-col">
        <h4>Get help</h4>
        <ul>
            <li><a href="#">FAQ</a></li>
            <li><a href="#">Membership</a></li>
            <li><a href="#">Find us</a></li>
            <li><a href="#">order status</a></li>
            <li><a href="#">payment options</a></li>
        </ul>
    </div>
    <div class="footer-col">
        <h4>online shop</h4>
        <ul>
            <li><a href="#">Camera</a></li>
            <li><a href="#">Lenses</a></li>
            <li><a href="#">Tripod</a></li>
            <li><a href="#">Online Sessions</a></li>
        </ul>
    </div>
     
    <div class="footer-col">
        <h4>follow us</h4>
        <div class="social-links">
            <a href="https://www.facebook.com"><i class="fab fa-facebook-f"></i></a>
            <a href="https://www.twitter.com"><i class="fab fa-twitter"></i></a>
            <a href="https://www.instagram.com"><i class="fab fa-instagram"></i></a>
            <a href="https://www.linkedin.com"><i class="fab fa-linkedin-in"></i></a>
        </div>
    </div>
</div>
