
<body class="contain">
  <h3> Our Team Members</h3>
  
  <div>
   <button class="btn btn-primary" (click)="toggleTag()">Abhishek Verma</button>
    <br>
    <p *ngIf="showMe">Abhishek Verma </p>
    <p *ngIf="showMe">CEO- Possesses sound knowledge and understanding of structural engineering principles </p>
    <p *ngIf="showMe">abhi.verma@gmail.com </p>
    <p *ngIf="showMe">+91 7895633185 </p>

</div>
<br>
<div>
    <button class="btn btn-primary" (click)="toggleTag1()">Rohit Kumar</button>
     <br>
     <p *ngIf="showMe1">Rohit Kumar </p>
     <p *ngIf="showMe1">Business Analyst- Analyst- Enterprise Performance at Deloitte USI | EOaaS | SAP | MBA'20 </p>
     <p *ngIf="showMe1">Rkrohit97@gmail.com </p>
     <p *ngIf="showMe1">+91 7895633185 </p>
 
 </div>
<br>
 <div>
    <button class="btn btn-primary" (click)="toggleTag2()">Ayush Awasthi</button>
     <br>
     <p *ngIf="showMe2">Ayush Awasthi </p>
     <p *ngIf="showMe2">Frontend- Software Engineer with 3+ years of experience. UI developer  </p>
     <p *ngIf="showMe2">yushawsthi@gmail.com </p>
     <p *ngIf="showMe2">+91 7895633185 </p>
 
 </div>
 <br>
 <div>
    <button class="btn btn-primary" (click)="toggleTag3()">Mudit Bajpai</button>
     <br>
     <p *ngIf="showMe3">Mudit Bajpai </p>
     <p *ngIf="showMe3">Operations-Software Product Tester | Agile | Selenium | Java | Cucumbe  </p>
     <p *ngIf="showMe3">mudit.bajpai@gmail.com </p>
     <p *ngIf="showMe3">+91 7895633185 </p>
 
 </div>
 <br>
 <div>
    <button class="btn btn-primary" (click)="toggleTag4()">Sudeep Adhikari</button>
     <br>
     <p *ngIf="showMe4">Sudeep Adhikari </p>
     <p *ngIf="showMe4">Operations-Software Product Tester | Agile | Selenium | Java | Cucumbe  </p>
     <p *ngIf="showMe4">sk.adhikari@gmail.com </p>
     <p *ngIf="showMe4">+91 7895633185 </p>
 
 </div>
    
</body>  

<div class="d-flex justify-content-center" >
    <nav aria-label="Page navigation example ">
        <ul class="pagination">
          <li class="page-item"><a class="page-link" routerLink="/joinUs" >Previous</a></li>
          <li class="page-item"><a class="page-link"  routerLink="/home">1</a></li>
          <li class="page-item"><a class="page-link"  routerLink="/pagination">2</a></li>
          <li class="page-item"><a class="page-link"  routerLink="/gallery">3</a></li>
          <li class="page-item"><a class="page-link"  routerLink="/onlineStore">4</a></li>
          <li class="page-item"><a class="page-link"  routerLink="/contactUs">5</a></li>
          <li class="page-item"><a class="page-link"  routerLink="/joinUs">6</a></li>
          <li class="page-item"><a class="page-link"  routerLink="/employeeList">7</a></li>
          <li class="page-item"><a class="page-link"  routerLink="/home">Next</a></li>
        </ul>
    </nav>
    </div>
