<nav class="navbar navbar-expand-lg navbar-light bg-primary">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Photography Blog</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown"
      aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link  btn btn-primary " aria-current="page" routerLink="home">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link btn btn-primary" routerLink="ourMembers">Our Members</a>
        </li>
        <li class="nav-item">
          <a class="nav-link btn btn-primary" routerLink="pagination">Our Story</a>
        </li>
        <li class="nav-item">
          <a class="nav-link btn btn-primary" routerLink="gallery">Gallery</a>
        </li>
        <li class="nav-item">
          <a class="nav-link btn btn-primary" routerLink="contactUs">Contact us</a>
        </li>
        <li class="nav-item">
          <a class="nav-link btn btn-primary" routerLink="onlineStore">Online Store</a>
        </li>

        <li class="nav-item">
          <a class="nav-link btn btn-primary" routerLink="employeeList">Employee</a>
        </li>

        <li class="nav-item">
          <a class="nav-link btn btn-primary" routerLink="joinUs">Join us</a>
        </li>
        <div class="dropdown nav-item">
          <button class="btn btn-primary">Resources</button>
          <div class="dropdown-content">
            <a href="https://www.coursera.org/in">Course-era</a>
            <a href="https://www.udemy.com/">Udemy</a>
            <a href="https://www.youtube.com/">YouTube</a>
          </div>
        </div>
      </ul>
    </div>
    <form class="d-flex">
      <label for="membership">Choose a membership plan:</label>
      <select name="membership" id="membership">
        <br>
        <option value="free">Free</option>
        <option value="bronze">Bronze</option>
        <option value="silver" selected>Silver</option>
        <option value="Gold">Gold</option>
      </select>
    </form>
  </div>
</nav>