<div style="display: flex; padding:10px 50px;">
    <div style= "padding:5px 10px; border:6px solid blue;">
        <iframe width="400" height="200" src="https://www.youtube.com/embed/Zv11L-ZfrSg" title="YouTube video player"
            frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen></iframe>
    </div>
    <div style= "padding:5px 10px; border:6px solid blue;">
        <iframe width="400" height="200" src="https://www.youtube.com/embed/nkwLjnragtw" title="YouTube video player"
            frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen></iframe>
    </div>
    <div style= "padding:5px 10px; border:6px solid blue;">
        <iframe width="400" height="200" src="https://www.youtube.com/embed/rgZfmWXTqas" title="YouTube video player"
            frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen></iframe>
    </div >
</div>
<div style="display: flex; padding:10px 50px;">
    <div style= "padding:5px 10px; border:6px solid blue;">
        <iframe width="400" height="200" src="https://www.youtube.com/embed/35npVaFGHMY" title="YouTube video player"
            frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen></iframe>
    </div>
    <div style= "padding:5px 10px; border:6px solid blue;">
        <iframe width="400" height="200" src="https://www.youtube.com/embed/RsuO9gPOCRI" title="YouTube video player"
            frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen></iframe>
    </div>
    <div style= "padding:5px 10px; border:6px solid blue;">
        <iframe width="400" height="200" src="https://www.youtube.com/embed/CluO73rdb9E" title="YouTube video player"
            frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen></iframe>
    </div >
</div>