<app-navbar></app-navbar>
<br>
<div class="d-flex justify-content-center" >
    <nav aria-label="Page navigation example ">
        <ul class="pagination">
          <li class="page-item"><a class="page-link" routerLink="home" >Previous</a></li>
          <li class="page-item"><a class="page-link"  routerLink="home">1</a></li>
          <li class="page-item"><a class="page-link"  routerLink="ourMembers">2</a></li>
          <li class="page-item"><a class="page-link"  routerLink="pagination">3</a></li>
          <li class="page-item"><a class="page-link"  routerLink="gallery">4</a></li>
          <li class="page-item"><a class="page-link"  routerLink="contactUs">5</a></li>
          <li class="page-item"><a class="page-link"  routerLink="onlineStore">6</a></li>
          <li class="page-item"><a class="page-link"  routerLink="employeeList">7</a></li>
          <li class="page-item"><a class="page-link"  routerLink="joinUs">8</a></li>
          <li class="page-item"><a class="page-link"  routerLink="ourMembers">Next</a></li>
        </ul>
    </nav>
    </div>
<router-outlet></router-outlet>
<br>

<app-footer></app-footer>

    <!-- <script src="https://code.jquery.com/jquery-3.4.1.js"></script>
    <script type="text/javascript">
      $(document).ready(function(){
         $('.next').click(function(){
             $('.pagination').find('.pagnenumber.active').next().
             addClass('active');
             $('.pagination').find('.pagnenumber.active').prev().
             addClass('active');
         })

         
         $('.prev').click(function(){
             $('.pagination').find('.pagnenumber.active').prev().
             addClass('active');
             $('.pagination').find('.pagnenumber.active').next().
             addClass('active');
         })
      })


    </script> -->

