.container{
  display: block;
  
  padding: 50px 50px;
}


.card{
  display: inline-block;
  padding-right: 6px;
  border: none;
}

#slider {
  overflow: hidden;
  height: 600px;
}
#slider figure {
  position: relative;
  width: 500%;
  margin: 0;
  left: 0;
  animation: 10s slider infinite;
}
#slider figure img {
  width: 20%;
  float: left;
}

@keyframes slider {
  0% {
      left: 0;
  }
  20% {
      left: 0;
  }
  25% {
      left: -100%;
  }
  45% {
      left: -100%;
  }
  50% {
      left: -200%;
  }
  70% {
      left: -200%;
  }
  75% {
      left: -300%;
  }
  95% {
      left: -300%;
  }
  100% {
      left: -400%;
  }
}
  
img {
 
  border-radius: 10px;
  padding: 10px;
  width: 300px;
}

img:hover {
  box-shadow: 10px 10px 10px 1px rgba(0, 6, 14, 0.884);
}
