




<div class="container"> 

  


  <div id="slider">
    <figure>
        <img src="https://images.unsplash.com/photo-1639108436992-11cc4850c965?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1171&q=80">
        <img src="https://images.unsplash.com/photo-1639262508220-8e009b6e07b8?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1192&q=80">
        <img src="https://images.unsplash.com/photo-1443890923422-7819ed4101c0?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80">
        <img src="https://images.unsplash.com/photo-1616165415772-f5b95c3ae135?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80">
        <img src="https://images.unsplash.com/photo-1630884376580-bce383ac04c8?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80">
    </figure>
  </div>
  <div class="card-group" style="padding-top: 50px;">
  <div class="card">
    <img src="https://media.istockphoto.com/photos/redeyed-tree-frog-picture-id108348088?b=1&k=20&m=108348088&s=170667a&w=0&h=eeWm3VuytrGFNVbFBG93OWnWKj9TvEPDU5h-ncweF9Q=" class="card-img-top" alt="...">
    <div class="card-body">
      <h2 class="card-title">Wildlife</h2>
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      <a href="#" class="btn btn-primary" (click)="btnclick()">Know More</a>
    </div>
  </div>
<div class="card">
  <img src="https://media.istockphoto.com/photos/heart-of-the-forest-picture-id1256208918?b=1&k=20&m=1256208918&s=170667a&w=0&h=stabD4RlQEx9mL5lE6b_T6zlKYOlFEXxjVlDOhIQ1wI=" class="card-img-top" alt="...">
  <div class="card-body">
    <h2 class="card-title">Nature</h2>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    <a href="#" class="btn btn-primary " (click)="btnclick()">Know More</a>
    

  </div>
</div>
<div class="card">
  <img src="https://media.istockphoto.com/photos/big-journeys-begin-with-small-steps-sign-on-road-picture-id1297465843?b=1&k=20&m=1297465843&s=170667a&w=0&h=BW2ydrg4D3n7dp-QghUYswnJRslJbBelBPFZVKPVok0=" class="card-img-top" alt="...">
  <div class="card-body ">
    <h2 class="card-title">Travel</h2>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    <a href="#" class="btn btn-primary"  (click)="btnclick()">Know More</a>
  </div>
</div>

<div class="card">
  <img src="https://media.istockphoto.com/photos/this-one-match-perfect-with-me-picture-id1293366109?b=1&k=20&m=1293366109&s=170667a&w=0&h=2z_h2WlM3291IRKFXrdmtObnCt93rNNdNN6mqvnKD1I=" class="card-img-top" alt="...">
  <div class="card-body">
    <h2 class="card-title">Fashion</h2>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    <a href="#" class="btn btn-primary" (click)="btnclick()">Know More</a>
  </div>
</div>
</div>

</div>